## Joins
![](https://i.stack.imgur.com/1Tfy0.jpg)


## Union
![](https://i.stack.imgur.com/phA2q.jpg)

## Union All

![](https://csharpcorner-mindcrackerinc.netdna-ssl.com/article/the-complete-reference-set-operations-in-ms-sql-union-all-intersect-excep/Images/e6.png)



UNION combines results from both tables.<br>
UNION ALL combines two or more result sets into a single set, including all duplicate rows.<br>
INTERSECT takes the rows from both the result sets which are common in both.<br>
EXCEPT takes the rows from the first result data but does not in the second result set.<br>